<div class="modal-header">
  <h4 *ngIf="action" class="modal-title"
      style="font-size: medium">
    Thêm mới
  </h4>
  <h4 *ngIf="!action" class="modal-title"
      style="font-size: medium">
    Sửa

  </h4>
  <button type="button" class="btn shadow-none p-0" aria-label="Close" (click)="close()">
    <span aria-hidden="true" style="font-size: large">x</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="p-fluid p-grid">
      <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label p-input-icon-right">
<!--                <i [hidden]="isLoadCategory" class="pi pi-spin pi-spinner"></i>-->
                <p-dropdown
                  id="product"
                  formControlName="idProduct"
                  [styleClass]="'p-dropdown-custom'"
                  [ngClass]="isSubmitted && f['idProduct'].errors?.required ? 'ng-dirty ng-invalid': ''"
                  [autoDisplayFirst]="false"
                  [options]="lstProduct"
                  [optionValue]="'id'"
                  optionLabel="name">
                </p-dropdown>
                <label for="product" class="required">Tên sản phẩm</label>
              </span>
        <small *ngIf="isSubmitted && f['idCategory'].errors?.required"
               class="p-error text-error p-pl-1">
          Tên sản phẩm là bắt buộc !
        </small>
      </div>
      <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label p-input-icon-right">
<!--                <i [hidden]="isLoadCategory" class="pi pi-spin pi-spinner"></i>-->
                <p-dropdown
                  id="billOrder"
                  formControlName="idBillOrder"
                  [styleClass]="'p-dropdown-custom'"
                  [ngClass]="isSubmitted && f['idBillOrder'].errors?.required ? 'ng-dirty ng-invalid': ''"
                  [autoDisplayFirst]="false"
                  [options]="lstBillOrder"
                  [optionValue]="'id'"
                  optionLabel="codeBill">
                </p-dropdown>
                <label for="product" class="required">Mã hóa đơn</label>
              </span>
        <small *ngIf="isSubmitted && f['idCategory'].errors?.required"
               class="p-error text-error p-pl-1">
          Mã hóa đơn là bắt buộc !
        </small>
      </div>
      <div class="p-field p-md-6" style="padding: 1rem 0.5rem  !important;">
              <span class="p-float-label">
                <input id="totalMoney"
                       type="number"
                       formControlName="totalMoney"
                       [ngClass]="isSubmitted && f['totalMoney'].errors?.required ? 'ng-dirty ng-invalid': ''"
                       class="form-control"
                       pInputText>
                <label for="totalMoney" class="required">Tổng tiền</label>
              </span>
        <!--        <span class="p-float-label">-->
        <!--            <input type="text" id="inputtext" pInputText >-->
        <!--            <label for="inputtext">InputText</label>-->
        <!--        </span>-->
        <small *ngIf="isSubmitted && f['totalMoney'].errors?.required"
               class="p-error text-error p-pl-1">
          Tổng tiền là bắt buộc !
        </small>
      </div>
      <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label p-input-icon-right">
                <i class="pi pi-calendar text-primary"></i>
                <p-calendar id="createdDate"
                            formControlName="createdDate"
                            [ngClass]="isSubmitted && f['createdDate'].errors?.required ? 'ng-dirty ng-invalid': ''"
                            styleClass="p-dropdown-custom">
                </p-calendar>
              <label for="createdDate" class="required">Thời gian</label>
                    </span>
        <small *ngIf="isSubmitted && f['createdDate'].errors?.required"
               class="p-error text-error p-pl-1">
          Thời gian là bắt buộc !
        </small>
      </div>

      <!--      <div class="p-md-6" style="padding: 1rem 0.5rem !important;">-->
      <!--              <span class="p-float-label">-->
      <!--                <input id="image"-->
      <!--                       type="text"-->
      <!--                       class="form-control"-->
      <!--                       formControlName="image"-->
      <!--                       pInputText>-->
      <!--                <label for="image">Ảnh loại sản phẩm</label>-->
      <!--              </span>-->
      <!--      </div>-->
      <div class="p-md-6" style="padding: 1rem 0.5rem !important;">
              <span class="p-float-label">
                <input id="description"
                       type="text"
                       class="form-control"
                       formControlName="description"
                       pInputText>
                <label for="description">Thông tin hóa đơn</label>
              </span>
      </div>
    </div>

  </form>

</div>

<div class="modal-footer pr-5">
  <button type="button" class="btn btn-info mr-4" (click)="close()">Close</button>
  <button type="button" class="btn btn-danger"
          (click)="processSaveOrUpdate()">Save
  </button>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
