<div class="container">
  <div class="row">
    <h1 class="container">Supplier</h1>
    <div class="col-12">
      <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="addNewSupplier()" ><i class="far fa-eye">Create</i></button>
      </div>

    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Address</th>
            <th scope="col">Logo</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let s of supplier ">
            <th scope="row">{{s.id}}</th>
            <td>{{s.name}}</td>
            <td>{{s.description}}</td>
            <td>{{s.address}}</td>
            <td>{{s.logo}}</td>
            <td>

              <button type="button" class="btn btn-success"  routerLink="/supplier/{{s.id}}"><i class="fas fa-edit"></i></button>
              <!-- <button type="button" class="btn btn-success" (click)="onEdit(s.id)"><i class="fas fa-edit"></i></button> -->
              <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
